<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pet Online</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="col-lg-8 mx-auto p-3 py-md-5">
            <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <span class="fs-4">Pet online</span>
                </a>
            </header>
            <main>
                <h1>Reserve já o banho do seu pet</h1>
            </main>
            <footer class="pt-5 my-5 text-muted border-top">
                Curso python utlima school
            </footer>
        </div>
        <script src="/static/js/bootstrap.bundle.js"></script>
    </body>
</html>